body {
  margin:0;
  background:black;
  color:white;
  font-family:sans-serif;
  text-align:center;
}

.screen {
  display:none;
  height:100vh;
  padding:20px;
}

.active { display:block; }

.center {
  margin-top:40vh;
}

input, textarea, button {
  width:90%;
  padding:10px;
  margin:10px 0;
}

.heart {
  font-size:80px;
  margin-top:40vh;
  animation:pulse 1s infinite;
}

@keyframes pulse {
  0% {transform:scale(1);}
  50% {transform:scale(1.3);}
  100% {transform:scale(1);}
}

.notebook {
  background:#fff;
  color:#000;
  padding:20px;
  margin:20px;
  border-radius:10px;
}

#wishPhoto {
  max-width:90%;
  margin:10px;
  }
