body { margin:0; font-family:sans-serif; }

.hidden { display:none; }

/* SPLASH */
#splash {
  background:black;
  color:white;
  height:100vh;
  text-align:center;
  padding-top:30%;
}
.teddy { font-size:80px; }
.red-heart { font-size:50px; }
.loading { color:white; }
.made { opacity:0.7; }

/* HOME */
#home { text-align:center; padding-top:40%; }
.new {
  font-size:28px;
  margin-top:40px;
  color:#ff4d6d;
}

/* FORM */
#form { padding:20px; }
input, textarea {
  width:100%;
  margin:10px 0;
  padding:10px;
}

/* WISH */
#wish {
  background:#2b003f;
  height:100vh;
  color:pink;
}
.box {
  margin-top:40%;
  background:rgba(0,0,0,0.5);
  padding:20px;
  border-radius:12px;
}
.hearts::before {
  content:"❤️ ❤️ ❤️ ❤️ ❤️";
  animation: float 5s infinite;
}

@keyframes float {
  0% { opacity:0; }
  50% { opacity:1; }
  100% { opacity:0; }
}
