body { margin:0; font-family:sans-serif; }

.hidden { display:none; }

#splash {
  background:black;
  color:white;
  height:100vh;
  text-align:center;
  padding-top:30%;
}

.teddy { font-size:80px; }
.heart { font-size:50px; }

header {
  display:flex;
  justify-content:space-between;
  padding:10px;
}

.new {
  margin:100px auto;
  width:200px;
  padding:20px;
  text-align:center;
  background:pink;
  border-radius:20px;
}

.wish-bg {
  background:#2b003f;
  height:100vh;
  color:pink;
  padding-top:40%;
  text-align:center;
}
