body{margin:0;font-family:sans-serif;text-align:center}

.splash{
background:black;color:white;height:100vh;padding-top:25%;
}

.teddy{font-size:80px}
.heart{font-size:50px}

.loading{color:white}
.made{margin-top:10px}

.top{display:flex;align-items:center;padding:10px}
.top span{font-size:30px}

.new{margin-top:100px}
.plus{font-size:60px}

button{
padding:15px;
margin:10px;
background:pink;
border:none;
border-radius:10px;
}

.wishbg{
background:#2b003f;
height:100vh;
color:pink;
}

#bigHeart{
font-size:100px;
}
