*{margin:0;padding:0;font-family:Segoe UI}
body{background:#fff}

.screen{
  display:none;
  height:100vh;
  text-align:center;
  padding-top:20%;
}
.active{display:block}

#splash{background:black;color:white}
.teddy{font-size:80px}
.heart{font-size:50px}
.loading{color:white}
.made{margin-top:10px}

.top{
  display:flex;
  justify-content:space-between;
  padding:10px
}

.newProject{
  margin-top:100px;
  font-size:22px;
}

button{
  padding:12px 20px;
  margin:10px;
  border:none;
  border-radius:10px;
  background:#ff4d6d;
  color:white;
  font-size:16px;
}

input,textarea{
  width:80%;
  padding:10px;
  margin:8px;
}

.dark{
  background:#2b003f;
  color:pink;
}

#bigHeart{
  font-size:80px;
}

.hearts{
  position:fixed;
  width:100%;
  height:100%;
}
