body {
  margin: 0;
  font-family: Arial;
  text-align: center;
}

.hidden { display: none; }

#splash {
  background: black;
  color: white;
  height: 100vh;
  padding-top: 30%;
}

.teddy { font-size: 80px; }
.heart { font-size: 30px; color: pink; }

#home, #form, #lock {
  padding: 20px;
}

button {
  padding: 10px 20px;
  background: pink;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

input, textarea, select {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
}

#wish {
  background: black;
  color: white;
  height: 100vh;
  padding-top: 40px;
}

#wish img {
  width: 200px;
  border-radius: 10px;
}

.fireworks::after {
  content: "✨✨✨";
  animation: blink 1s infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}
