body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

.hidden {
  display: none;
}

/* Splash */
#splash {
  background: black;
  color: white;
  height: 100vh;
  padding-top: 30%;
}

.teddy {
  font-size: 80px;
}

.heart {
  font-size: 50px;
}

/* Pages */
button {
  padding: 10px 20px;
  margin: 10px;
  background: pink;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}
