body {
  margin: 0;
  font-family: Arial;
  background: #fff;
}

.screen { display: none; padding: 20px; }

#splash {
  background: black;
  color: white;
  height: 100vh;
  text-align: center;
  padding-top: 30%;
}

.teddy { width: 120px; }

.heart {
  font-size: 24px;
  margin: 10px;
}

header {
  display: flex;
  justify-content: space-between;
}

#menu {
  display: none;
  background: #eee;
  padding: 10px;
}

.center {
  text-align: center;
  margin-top: 40%;
}

button {
  padding: 10px 20px;
  margin: 10px;
}

.dark {
  background: #12002b;
  color: pink;
  height: 100vh;
  text-align: center;
}

#holdHeart {
  font-size: 80px;
  margin-top: 40%;
}

#wishPhoto {
  max-width: 200px;
  margin: 10px;
}

.book {
  font-size: 24px;
  padding: 40px;
  border: 2px solid pink;
}
