body {
  margin: 0;
  font-family: Arial;
  text-align: center;
  background: black;
  color: white;
}

.hidden { display: none; }

#splash {
  height: 100vh;
  background: black;
}
.teddy {
  width: 150px;
  margin-top: 100px;
}
.loading { color: white; }
.by { color: gray; }

.top {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.newBtn {
  margin-top: 100px;
  font-size: 22px;
  padding: 20px;
}

input, textarea, select {
  width: 80%;
  margin: 10px;
  padding: 10px;
}

.heartHold {
  font-size: 80px;
  margin-top: 150px;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.book {
  font-size: 80px;
  margin-top: 200px;
}

#finalPhoto {
  width: 200px;
  border-radius: 10px;
}
