body {
  margin: 0;
  font-family: Arial;
  background: black;
  color: white;
  text-align: center;
}

.hide { display: none; }

#splash {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.teddy { width: 150px; margin: auto; }

.top {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.new {
  font-size: 22px;
  padding: 20px;
}

input, textarea {
  width: 90%;
  padding: 10px;
  margin: 8px;
}

button {
  padding: 12px 20px;
  margin: 10px;
  font-size: 18px;
}

#wish {
  background: radial-gradient(#2b0033, black);
  height: 100vh;
}

.box {
  background: rgba(0,0,0,0.6);
  margin: 50px;
  padding: 20px;
  border-radius: 15px;
}

#wishImg {
  width: 80%;
  border-radius: 15px;
  }
