body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

.hidden {
  display: none;
}

/* Splash */
#splash {
  background: black;
  color: white;
  height: 100vh;
  padding-top: 30%;
}

.teddy {
  font-size: 60px;
}
