* { box-sizing: border-box; font-family: 'Segoe UI', sans-serif; }
body { margin: 0; }

.screen {
  display: none;
  height: 100vh;
  text-align: center;
  padding: 20px;
}

.screen.active { display: block; }

#splash {
  background: black;
  color: white;
  padding-top: 30%;
}

.teddy { font-size: 80px; }
.heart { font-size: 50px; }

#home { background: white; }
.top {
  display: flex;
  align-items: center;
}
.menu { font-size: 30px; cursor: pointer; }

.newProject {
  margin-top: 100px;
  font-size: 24px;
  cursor: pointer;
}

button {
  padding: 12px 20px;
  margin: 10px;
  background: #ff4d6d;
  color: white;
  border: none;
  border-radius: 10px;
}

input, textarea {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
}

.wishBg {
  background: #2b003f;
  color: pink;
}

.finalBg {
  background: black;
  color: pink;
}

.bigHeart {
  font-size: 90px;
}
