body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial;
  text-align: center;
}

.hidden {
  display: none;
}

/* Splash */
#splash {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: fadeOut 1s ease 4s forwards;
}

.teddy {
  font-size: 60px;
  animation: bounce 1.5s infinite;
}

.heart {
  font-size: 40px;
  animation: pulse 1s infinite;
}

/* Home */
#home button, #form button {
  padding: 12px 20px;
  border-radius: 25px;
  background: red;
  border: none;
  color: white;
  font-size: 16px;
}

/* Wish */
.heartBig {
  font-size: 80px;
  animation: pulse 1s infinite;
}

/* Animations */
@keyframes bounce {
  50% { transform: translateY(-15px); }
}

@keyframes pulse {
  50% { transform: scale(1.2); }
}

@keyframes fadeOut {
  to { opacity: 0; visibility: hidden; }
}
